.card {
    width: 410px;
}

input {
    width: 350px;
}

select {
    width: 350px;
}

.input-group {
    width: 350px;
}

.price {
    min-width: 60px;
    height: 40px;
}

.form-control { display: inline-block !important; }
