.card {
    width: 410px;
}

input {
    width: 350px;
}

.input-group {
    width: 350px;
}

.price {
    min-width: 60px;
    height: 40px;
}

select.custom-select {
    margin: 0.5rem 0.5rem 0 0;
    width: auto;
  }