<!-- Sidebar -->
<div class="bg-white border-left" id="sidebar-wrapper">
    <div class="row">
      <div class="col-2">
        <img src="../../assets/logo.png" class="mt-3 ml-3" style="width: 50px; height: 50px">
      </div>
      <div class="col-10">
        <h3 class="sidebar-heading mt-3" style="text-align: center; color: grey">ACCOUNTANT</h3>
      </div>
    </div>
    <hr>
    <div class="row mt-5 ml-4 hover">
      <i class="fas fa-home mr-3 ml-2"></i>
      <label (click)="onClick('Dashboard')" class="mt-1 ml-1">DASHBOARD</label>
    </div>
    <div class="row mt-5 ml-4 hover">
      <i class="far fa-user mr-3 ml-2"></i>
      <label (click)="onClick('Clients')" class="mt-1 ml-1">&nbsp; CLIENTS</label>
    </div>
    <div class="row mt-5 ml-4 hover">
      <i class="fas fa-percentage mr-3 ml-2"></i>
      <label (click)="onClick('Vats')" class="mt-1 ml-1">&nbsp; &nbsp; VATS</label>
    </div>
    <div class="row mt-5 ml-4 hover">
      <i class="far fa-credit-card mr-3 ml-2"></i>
      <label (click)="onClick('Expenses')" class="mt-1 ml-1"> &nbsp; EXPENSES</label>
    </div>
    <div class="row mt-5 ml-4 hover">
      <i class="far fa-comment-dots mr-3 ml-2"></i>
      <label (click)="onClick('More')" class="mt-1 ml-1">&nbsp; MORE</label>
    </div>
</div>
<!-- /#sidebar-wrapper -->