#wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 97.5vh;
    margin-right: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 100%;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-right: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-right: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-right: -15rem;
    }
  }
  
  hr {
    width: 95%; 
    margin-top: 2px;
    margin-left: 12px;
    height: 1.5px;
    border:none;
    background-color: rgba(194, 192, 189);
  }

i {
  color:rgba(128, 128, 128, 0.7); 
  font-size: 30px;
}

.hover:hover {
  cursor: pointer;
  i {
    cursor: pointer;
    color: grey;
  }
  label {
    cursor: pointer;
    color: grey;
  }
}

label {
  color:rgba(128, 128, 128, 0.7); 
  font-size: 17px;
}