<!-- Sidebar -->
<div class="bg-white border-left" id="sidebar-wrapper">
    <div class="sidebar-heading" style="text-align: center">Accountant</div>
    <hr>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-white" (click)="onClick('Dashboard')">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-white" (click)="onClick('Story')">Story</a>
      <a href="#" class="list-group-item list-group-item-action bg-white" (click)="onClick('Trends')">Trends</a>
      <a href="#" class="list-group-item list-group-item-action bg-white" (click)="onClick('Followers')">Followers</a>
      <a href="#" class="list-group-item list-group-item-action bg-white" (click)="onClick('Hashtags')">Hashtags</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->