<div class="card shadow no-border">
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                <i (click)="onAddClick()" class="fa fa-plus mt-2 ml-3"></i>
            </div>
            <div class="col-11">
                <h4 class="text-right">דוחות דו חודשיים</h4>
            </div>
        </div>
        <hr>
        <div class="row ml-1">
            <app-accountant-shared-table
                [height]="235"
                [width]="780"
                [rowData]="client.Vats"
                [columnDefs]="columnDefs">
            </app-accountant-shared-table>
        </div>
    </div>
</div>