<div class="card shadow no-border" style="margin-left: 30%;">
    <div class="card-body">
        <h4 class="text-right">טופס לקוח</h4>
        <div [formGroup]="clientForm" class="mr-3">
            <div class="form-row mb-2 mt-3">
              <div class="text-right">
                <label for="Name">*שם מלא</label>
                <input 
                    type="text" 
                    class="form-control text-right"
                    [ngClass]="isValidField('Name')"
                    id="Name" 
                    name="Name"
                    placeholder="שם מלא" 
                    formControlName="Name"
                    required>
                <div class="valid-feedback" *ngIf="Name.valid && Name.touched">
                  !נראה טוב
                </div>
                <div class="invalid-feedback" *ngIf="Name.invalid && Name.touched">
                    .אנא הכנס שם מלא תקין
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
                <div class="text-right">
                  <label for="IdCard">*תעודת זהות</label>
                  <input 
                    type="text" 
                    min="1" 
                    class="form-control text-right"
                    [ngClass]="isValidField('IdCard')"
                    id="IdCard" 
                    placeholder="תעודת זהות"
                    formControlName="IdCard" 
                    required>
                    <div class="valid-feedback" *ngIf="IdCard.valid && IdCard.touched">
                        !נראה טוב
                    </div>
                    <div class="invalid-feedback" *ngIf="IdCard.invalid && IdCard.touched">
                        .אנא הכנס תעודת זהות תקינה
                    </div>
                </div>
            </div>
            <div class="form-row mb-2">
              <div class="text-right">
                <label for="BirthYear">*שנת לידה</label>
                <input 
                    type="number" 
                    min="1"
                    max="99"
                    class="form-control text-right" 
                    [ngClass]="isValidField('BirthYear')"
                    id="BirthYear"
                    placeholder="שנת לידה" 
                    formControlName="BirthYear"
                    required>
                <div class="valid-feedback" *ngIf="BirthYear.valid && BirthYear.touched">
                    !נראה טוב
                </div>
                <div class="invalid-feedback" *ngIf="BirthYear.invalid && BirthYear.touched">
                    .אנא הכנס שנת לידה תקינה
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="text-right">
                <label for="Username">*שם משתמש למע"מ</label>
                <input 
                    type="text" 
                    class="form-control text-right" 
                    [ngClass]="isValidField('Username')"
                    id="Username" 
                    placeholder="שם משתמש" 
                    formControlName="Username"
                    required>
                <div class="valid-feedback" *ngIf="Username.valid && Username.touched">
                    !נראה טוב
                </div>
                <div class="invalid-feedback" *ngIf="Username.invalid && Username.touched">
                    .אנא הכנס שם משתמש תקין
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
                <div class="text-right">
                  <label for="Password">*סיסמא למע"מ</label>
                  <input 
                      type="text" 
                      class="form-control text-right" 
                      [ngClass]="isValidField('Password')"
                      id="Password" 
                      placeholder="סיסמא" 
                      formControlName="Password"
                      required>
                  <div class="valid-feedback" *ngIf="Password.valid && Password.touched">
                      !נראה טוב
                  </div>
                  <div class="invalid-feedback" *ngIf="Password.invalid && Password.touched">
                      .אנא הכנס סיסמא תקינה
                  </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="text-right">
                  <label for="GreenUsername">שם משתמש לחשבונית ירוקה</label>
                  <input 
                      type="text" 
                      class="form-control text-right" 
                      id="GreenUsername" 
                      placeholder="שם משתמש" 
                      formControlName="GreenUsername"
                      required>
                  <div class="valid-feedback" *ngIf="GreenUsername.valid && GreenUsername.touched">
                      !נראה טוב
                  </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div class="text-right">
                  <label for="GreenPassword">סיסמא לחשבונית ירוקה</label>
                  <input 
                      type="text" 
                      class="form-control text-right" 
                      id="GreenPassword" 
                      placeholder="סיסמא" 
                      formControlName="GreenPassword"
                      required>
                  <div class="valid-feedback" *ngIf="GreenPassword.valid && GreenPassword.touched">
                      !נראה טוב
                  </div>
                </div>
            </div>
            <div *ngIf="isEditMode">
                <button 
                    class="btn btn-outline-primary mt-2 ml-3 float-left" 
                    type="submit"
                    (click)="onUpdate()">
                    עדכון
                </button>
                <button 
                    class="btn btn-outline-danger mt-2  float-right"
                    (click)="onDelete()">
                    מחיקה
                </button>
              </div>
              <div *ngIf="!isEditMode">
                <button 
                      class="btn btn-outline-primary mt-2 ml-3 float-left" 
                      type="submit"
                      (click)="onCreate()">
                      יצירה
                  </button>
                  <button 
                      class="btn btn-outline-danger mt-2 float-right"
                      (click)="onDiscard()">
                      ביטול
                  </button>    
              </div>
        </div>
    </div>
</div>