<div class="card shadow no-border" style="margin-left: 30%;">
    <div class="card-body">
        <h4>Client Form</h4>
        <div [formGroup]="clientForm" class="ml-3">
            <div class="form-row mb-2 mt-3">
              <div>
                <label for="Name">Full name*</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="isValidField('Name')"
                    id="Name" 
                    name="Name"
                    placeholder="Full name" 
                    formControlName="Name"
                    required>
                <div class="valid-feedback" *ngIf="Name.valid && Name.touched">
                  Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="Name.invalid && Name.touched">
                    Please provide a valid first name.
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
                <div>
                  <label for="IdCard">Id card*</label>
                  <input 
                    type="text" 
                    min="1" 
                    class="form-control"
                    [ngClass]="isValidField('IdCard')"
                    id="IdCard" 
                    placeholder="Id Card"
                    formControlName="IdCard" 
                    required>
                    <div class="valid-feedback" *ngIf="IdCard.valid && IdCard.touched">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="IdCard.invalid && IdCard.touched">
                        Please provide a valid first id.
                    </div>
                </div>
            </div>
            <div class="form-row mb-2">
              <div>
                <label for="BirthYear">Birth Year*</label>
                <input 
                    type="number" 
                    min="1"
                    max="99"
                    class="form-control" 
                    [ngClass]="isValidField('BirthYear')"
                    id="BirthYear"
                    placeholder="BirthYear" 
                    formControlName="BirthYear"
                    required>
                <div class="valid-feedback" *ngIf="BirthYear.valid && BirthYear.touched">
                    Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="BirthYear.invalid && BirthYear.touched">
                    Please provide a valid first birth year.
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
              <div>
                <label for="Username">Username*</label>
                <input 
                    type="text" 
                    class="form-control" 
                    [ngClass]="isValidField('Username')"
                    id="Username" 
                    placeholder="Username" 
                    formControlName="Username"
                    required>
                <div class="valid-feedback" *ngIf="Username.valid && Username.touched">
                    Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="Username.invalid && Username.touched">
                    Please provide a valid first username.
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
                <div>
                  <label for="Password">Password*</label>
                  <input 
                      type="text" 
                      class="form-control" 
                      [ngClass]="isValidField('Password')"
                      id="Password" 
                      placeholder="Password" 
                      formControlName="Password"
                      required>
                  <div class="valid-feedback" *ngIf="Password.valid && Password.touched">
                      Looks good!
                  </div>
                  <div class="invalid-feedback" *ngIf="Password.invalid && Password.touched">
                      Please provide a valid first password.
                  </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div>
                  <label for="GreenUsername">Green Username</label>
                  <input 
                      type="text" 
                      class="form-control" 
                      id="GreenUsername" 
                      placeholder="GreenUsername" 
                      formControlName="GreenUsername"
                      required>
                  <div class="valid-feedback" *ngIf="GreenUsername.valid && GreenUsername.touched">
                      Looks good!
                  </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div>
                  <label for="GreenPassword">Green Password</label>
                  <input 
                      type="text" 
                      class="form-control" 
                      id="GreenPassword" 
                      placeholder="GreenPassword" 
                      formControlName="GreenPassword"
                      required>
                  <div class="valid-feedback" *ngIf="GreenPassword.valid && GreenPassword.touched">
                      Looks good!
                  </div>
                </div>
            </div>
            <div *ngIf="isEditMode">
                <button 
                    class="btn btn-outline-danger mt-2 float-left"
                    (click)="onDelete()">
                    Delete
                </button>
                <button 
                    class="btn btn-outline-primary mt-2 mr-2 float-right" 
                    type="submit"
                    (click)="onUpdate()">
                    Update
                </button>
            </div>
            <div *ngIf="!isEditMode">
                <button 
                    class="btn btn-outline-danger mt-2 float-left"
                    (click)="onDiscard()">
                    Discard
                </button>
                <button 
                    class="btn btn-outline-primary mt-2 mr-2 float-right" 
                    type="submit"
                    (click)="onCreate()">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>