<div class="card shadow no-border" style="margin-left: 30%;">
    <div class="card-body">
        <h4>Profit Form</h4>
        <div [formGroup]="profitForm" class="ml-3">
            <div class="form-row mb-2 mt-3">
              <div>
                <label for="ProfitTitle">Profit title</label>
                <input 
                    type="text" 
                    class="form-control"
                    [ngClass]="isValidField('ProfitTitle')"
                    id="ProfitTitle" 
                    name="ProfitTitle"
                    placeholder="Profit Title" 
                    formControlName="ProfitTitle"
                    required>
                <div class="valid-feedback" *ngIf="ProfitTitle.valid && ProfitTitle.touched">
                  Looks good!
                </div>
                <div class="invalid-feedback" *ngIf="ProfitTitle.invalid && ProfitTitle.touched">
                    Please provide a valid title.
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
              <div>
                <label for="Amounts">Amounts</label>
                <input 
                    #amounts
                    type="number" 
                    min="1"
                    class="form-control" 
                    placeholder="Enter a price & press enter" 
                    (keyup.enter)="addAmount(amounts.value); amounts.value = null"
                    required>
                <div class="row">
                    <div *ngFor="let amount of Amounts.controls">
                        <button type="button" class="btn btn-primary price mt-3 mr-1">
                            <b>{{amount.value}}</b>
                            <i class="fas fa-times ml-2" style="font-size: 15px"></i>
                        </button>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
              <div>
                <label for="Total">Total</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">₪</span>
                    </div>
                    <input
                        type="text" 
                        class="form-control" 
                        id="Total" 
                        placeholder="Total" 
                        formControlName="Total"
                        required>      
                </div>
              </div>
            </div>
            <div class="form-row mb-2">
                <div>
                  <label for="DealsVat">Deals Vat</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">%</span>
                    </div>
                    <input
                        [disabled]="true"
                        type="text" 
                        class="form-control" 
                        id="DealsVat" 
                        placeholder="DealsVat" 
                        formControlName="DealsVat"
                        required>
                  </div>
                </div>
            </div>
            <div class="form-row mb-2">
                <div>
                  <label for="AfterVat">After Vat</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">₪</span>
                    </div>
                    <input
                        [disabled]="true"
                        type="text" 
                        class="form-control" 
                        id="AfterVat" 
                        placeholder="After Vat" 
                        formControlName="AfterVat"
                        required>
                  </div>
                </div>
            </div>
            <div *ngIf="isEditMode">
                <button 
                    class="btn btn-outline-danger mt-2 float-left"
                    (click)="onDelete()">
                    Delete
                </button>
                <button 
                    class="btn btn-outline-primary mt-2 mr-2 float-right" 
                    type="submit"
                    (click)="onUpdate()">
                    Update
                </button>
            </div>
            <div *ngIf="!isEditMode">
                <button 
                    class="btn btn-outline-danger mt-2 float-left"
                    (click)="onDiscard()">
                    Discard
                </button>
                <button 
                    class="btn btn-outline-primary mt-2 mr-2 float-right" 
                    type="submit"
                    (click)="onCreate()">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>